
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<style>
/* Custom styles for the Travelbuddy nav bar */
.navbar {
  background-color: #f8f9fa;
  box-shadow: none;
}

.navbar-brand {
  color: #000;
  font-size: 28px;
  font-weight: bold;
}

.nav-link {
  color: #212529;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 16px;
  transition: color 0.2s ease-out;
}

.nav-link:hover, .nav-link.active {
  color: #007bff;
}

/* Custom styles for login and signup buttons */
.navbar-nav .nav-link:nth-last-child(1),
.navbar-nav .nav-link:last-child {
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border-radius: 25px;
  padding: 8px 16px;
  margin-left: 10px;
  transition: background-color 0.2s ease-out;
}

.navbar-nav .nav-link:nth-last-child(1):hover,
.navbar-nav .nav-link:last-child:hover {
  background-color: #0062cc;
}

@media (max-width: 767px) {
  .navbar-nav .nav-link:nth-last-child(1),
  .navbar-nav .nav-link:last-child {
    margin-left: 0;
    margin-top: 10px;
    display: block;
  }
}

</style>


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">TRIPIN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      
        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        <a class="nav-link" href="#">secret spots</a>
        <a class="nav-link" href="#">Hotels</a>
        <a class="nav-link" href="#">Reviews</a>
        <a class="nav-link" href="#">About</a>
        <div class="navbar-nav ml-auto">
        <a class="nav-link" href="{% url 'login' %}" >
          <i class="fa fa-user"></i>
          Login
        </a>
        <a class="nav-link" href="{% url 'signup' %}" >
          <i class="fa fa-pencil"></i>
          signup
          </a>
      </div>
      </div>
  </div>
</nav>
